Import Libraries

In [19]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [20]:
# Make numpy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [21]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

Importing Dataset

In [22]:
dataset = pd.read_csv('data.csv')

See the first 5 rows

In [23]:
dataset.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,operating gross margin,realized sales gross margin,operating profit rate,tax Pre-net interest rate,after-tax net interest rate,non-industry income and expenditure/revenue,...,net income to total assets,total assets to GNP price,No-credit interval,Gross profit to Sales,Net income to stockholder's Equity,liability to equity,Degree of financial leverage (DFL),Interest coverage ratio( Interest expense to EBIT ),one if net income was negative for the last two year zero otherwise,equity to liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

Data Preprocessing

In [24]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [25]:
X

array([[0.371, 0.424, 0.406, ..., 0.027, 0.564, 1.   ],
       [0.464, 0.538, 0.517, ..., 0.265, 0.57 , 1.   ],
       [0.426, 0.499, 0.472, ..., 0.027, 0.564, 1.   ],
       ...,
       [0.473, 0.534, 0.521, ..., 0.027, 0.565, 1.   ],
       [0.506, 0.56 , 0.554, ..., 0.027, 0.565, 1.   ],
       [0.493, 0.57 , 0.55 , ..., 0.027, 0.565, 1.   ]])

Split the data into train and test sets

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [29]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Model Training

In [32]:
from tensorflow.keras.layers import Input, Dense, Activation,Dropout
from tensorflow.keras.models import Model

In [38]:
input_layer = Input(shape = (X.shape[1],))
dense_layer_1 = Dense(100, activation = 'relu')(input_layer)
dense_layer_2 = Dense(50, activation = 'relu')(dense_layer_1)
dense_layer_3 = Dense(25, activation = 'relu')(dense_layer_2)
output = Dense(1)(dense_layer_3)


model = Model(inputs=input_layer, outputs=output)
model.compile(loss="mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

We can train the model with following

In [40]:
history = model.fit(X_train, y_train, batch_size=2, epochs=10, verbose=1, validation_split=0.2)

Epoch 1/10
2182/2182 [==============================] - 13s 6ms/step - loss: 0.0139 - mean_squared_error: 0.0139 - val_loss: 0.0057 - val_mean_squared_error: 0.0057
Epoch 2/10
2182/2182 [==============================] - 14s 6ms/step - loss: 0.0152 - mean_squared_error: 0.0152 - val_loss: 0.0081 - val_mean_squared_error: 0.0081
Epoch 3/10
2182/2182 [==============================] - 12s 6ms/step - loss: 0.0147 - mean_squared_error: 0.0147 - val_loss: 0.0014 - val_mean_squared_error: 0.0014
Epoch 4/10
2182/2182 [==============================] - 13s 6ms/step - loss: 0.0079 - mean_squared_error: 0.0079 - val_loss: 7.6340e-04 - val_mean_squared_error: 7.6340e-04
Epoch 5/10
2182/2182 [==============================] - 12s 6ms/step - loss: 0.0013 - mean_squared_error: 0.0013 - val_loss: 8.1197e-04 - val_mean_squared_error: 8.1197e-04
Epoch 6/10
2182/2182 [==============================] - 12s 6ms/step - loss: 9.7140e-04 - mean_squared_error: 9.7140e-04 - val_loss: 0.0032 - val_mean_squared_error: 0.0032
Epoch 7/10
2182/2182 [==============================] - 12s 6ms/step - loss: 0.0012 - mean_squared_error: 0.0012 - val_loss: 0.0010 - val_mean_squared_error: 0.0010
Epoch 8/10
2182/2182 [==============================] - 12s 6ms/step - loss: 7.2528e-04 - mean_squared_error: 7.2528e-04 - val_loss: 7.1568e-04 - val_mean_squared_error: 7.1568e-04
Epoch 9/10
2182/2182 [==============================] - 13s 6ms/step - loss: 6.0177e-04 - mean_squared_error: 6.0177e-04 - val_loss: 0.0012 - val_mean_squared_error: 0.0012
Epoch 10/10
2182/2182 [==============================] - 13s 6ms/step - loss: 0.0069 - mean_squared_error: 0.0069 - val_loss: 0.0056 - val_mean_squared_error: 0.0056

To evaluate the performance of a regression model on test set, one of the most commonly used metrics is root mean squared error. We can find mean squared error between the predicted and actual values via the mean_squared_error class of the sklearn.metrics module. We can then take square root of the resultant mean squared error. Look at the following script:

In [42]:
from sklearn.metrics import mean_squared_error
from math import sqrt

pred_train = model.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train)))

pred = model.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred)))

0.040984468729189864
0.030119527030138395